:root {
	--color-black: #17181F;
	--color-purple: #6C72CB;
	--color-pink: #CB69C1;
	--color-white: #EEEDF0;

	--font-family-b: MontserratB;
	--font-family-m: MontserratM;
	--font-family-r: MontserratR;
	--font-family-l: MontserratL;

	--animation-speed: .3s ;
	--animation-func: ease;
	--animation: var(--animation-speed) var(--animation-func);
}

body {
	background: var(--color-black);
	overflow-x: hidden;
}